@import "./_globals.scss";

@font-face {
    font-family: 'Obitron';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Obitron/Orbitron.ttf');
}

div.footer{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
body{
    font-family: 'Obitron';
}

header {
    background: linear-gradient(to right, #302E24, #28313E);
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    margin-bottom: 70px;
}
a.footer-link{
    color: white;
    text-decoration: none;
}



a.footer-link:hover{
    color: #157347;
    text-decoration: none;
}