@import "./../globals.scss";

.backButton{
    // make button far left of container
    position: absolute;
    // float: left;
    display: flex;
    justify-content: flex-start;
}

.content{
    text-align: center;
    padding: 20px;
    font-size: x-large;
}