@import "./../globals.scss";

@font-face {
    font-family: 'Obitron';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Obitron/Orbitron.ttf');
}

h1.title {
    font-family: 'Obitron';
    columns: #ffffff;
    color: white;
    text-align: center;
}

h3.title {
    font-family: 'Obitron';
    columns: #ffffff;
    color: white;
}

div.picture-title {
    font-family: 'Obitron';
    columns: #ffffff;
    color: white;
    text-align: center;
    font-size: 30px;
    // text-shadow: 2px 2px 5px #cccccc;
    padding-bottom: 10px;
}

div.picture-explanation{
    font-family: 'Obitron';
    columns: #ffffff;
    color: white;
    text-align: center;
    font-size: 30px;
}

div.picture-explanation-text {
    font-family: 'Obitron';
    font-size: large;
}

img.APOD{
    border: #cccccc solid 3px;
}

@media only screen and (max-width: 768px) {
    img.APOD{
        width: 100%;
        height: 100%;
        border: #cccccc solid 3px;
    }
    iframe.APOD{
        width: 100%;
        height: 500px;
    }
}

@media only screen and (max-width: 1024px) {
    img.APOD{
        width: 100%;
        height: 100%;
        border: #cccccc solid 3px;
    }
    iframe.APOD{
        width: 100%;
        height: 500px;
    }
}